*{
    padding: 0;
    margin:0;
}
.main-container{
    display:flex;
    justify-content: center;
}
.image-container img{
    height: 581.15px;
}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-one{
    border: 2px solid grey;
    height: 350px;
    width: 407;
    padding: 20px 10px;
}
.first-one h1{
    text-align: center;
    margin: 0 0 20px 0;
}
.input-field{
    text-align: center;
    padding: 9px;
    width: 80% ;
    background-color: #fafafa;
    margin: 10px;
    border: 2px solid grey;
}

.login-button{
    color: white;
    background-color: rgb(101, 101, 189);
    padding: 10px 0;
    width: 80% ;
    border: none;
    border-radius: 20px;
    align-items: center;
    margin: 0 0 10px 10px;
}

.or-text{
    text-align: center;
    color: grey;

}
.login-forgot-div{
    text-align: center;

}


.fb-login{
    text-decoration: none;
    color: #385185;
}
.forgot-password{
    text-decoration: none;
    color: #003768;

}
.get-app > img{
    height: 2em;
}
